<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Cards</title>
</head>
<body>
    <header>
        <h1>Tus Tarjetas</h1>
      </header>
      <main>
        {% if cards %}
          <ul>
            {% for card in cards %}
            <li>
              <h2>{{ card.card_name }}</h2>
              <p>{{ card.card_type }}</p>
              <p><strong>Number:</strong> {{ card.card_number }}</p>
            </li>
            {% endfor %}
          </ul>
        {% else %}
        <p>No cards found.</p>
        {% endif %}
      </main>
</body>
</html>