{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="section properties">
    <div class="container">
      <ul class="properties-filter">
        <li>
          <a class="is_active" href="#!" data-filter="*">Show All</a>
        </li>
        <li>
          <a href="#!" data-filter=".adv">Apartment</a>
        </li>
        <li>
          <a href="#!" data-filter=".str">Villa House</a>
        </li>
        <li>  
          <a href="#!" data-filter=".rac">Penthouse</a>
        </li>
      </ul>

      <h1>Acommodations List</h1>
      <ul>
        
      {% for post in posts %}
        {% if post.avaliability %}
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="item">
                  <a href="/login"><img src="{{ post.acommodation.image.url }}" alt=""></a>
                  <span class="category">{{ post.acommodation.typo }}</span>
                  <h6>${{ post.acommodation.price }}</h6>
                  <h4><a href="/login">{{ post.acommodation.location }}</a></h4>
                  <ul>
                    <li>Bedrooms: <span>{{ post.acommodation.bedrooms }}</span></li>
                    <li>Bathrooms: <span>{{ post.acommodation.bathrooms }}</span></li>
                    <li>Area: <span>{{ post.acommodation.area_m2 }}</span></li>
                    <li>Parking: <span>{{ post.acommodation.parking_slots }}</span></li>
                    <li>Publisher: <span>{{ post.publisher }}</span></li>
                    <li>Available: <span>{{ post.id }}</span></li>
                  </ul>
                  <div class="main-button">
                    <a href="/post/{{ post.id }}/">Schedule a visit</a>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
      {% endfor %}
        
      <div class="row">
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a class="is_active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}